body {
  background: red;
  color: white;
}

.container {
  background: red;
  /* border: solid 1px cyan; */
}

.row {
  background: red;
  /* border: solid 1px lime; */
}

.column,
.columns {
  margin: 1rem 0;
  border: solid 1px white;
  border-radius: 1rem;
  padding: 1rem;
}

img {
  width: 100%;
  image-rendering: pixelated;
  /* border: solid 1px white;
  border-radius: 1rem; */
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 8vmin;
}

h1,
h2,
h3 {
  margin: 0 0 0 1rem;
}

input[type="text"] {
  border-radius: 1rem;
  padding: 4vmin 2vmin;
  font-size: 4vmin;
  line-height: 100px;
}

button {
  color: white;
  border: 1px solid white;
  padding: 0 !important;
  margin: 0;
}

.center-text {
  text-align: center;
}

#sprite-container {
  background: #111;
}
